{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    About 
{% endblock %}

{% block body_block %}
    <h1>Rango says here is the about page <h1/>
    <h3>This tutorial has been put together by Luke Gall (2298070G)</h1>
    
    <div>
        <strong>Here is a picture of a cat</strong> <br/>
        <img src="{{MEDIA_URL}}cat.jpg" alt="Star wars cat"/>
    </div>   
    <div>
        <img src="{%static "images/fish.jpg" %}" alt="Picture of Rango's fish" />
    </div>
{% endblock %}